#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #79454a;
  color: #eeebe7;
  padding: 0 2em;
  z-index: 10000;
  top: 0px;
  display: inline-flex;
  align-items: center;
}

#nav-bar .header {
  float: left;
  margin: 0 0 0 10px;
  font-size: 200%;
  line-height: 80px;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float:left;
}

#nav-bar .nav-buttons {
  display: inline-flex;
  margin-left: auto;
  justify-content: space-around;
}

/*#login-form {
  display: inline-flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}*/

#login-button {
  padding: 5px 5px;
  background-color: #3b2b24;
  border-style: none;
  border-width: 1px;
  border-radius: 5px;
  color: #eeebe7;
  font-size: 15px;
  box-shadow: 2px 2px 1px black;
}

#compose {
  padding: 15px 15px;
  background-color: #3b2b24;
  border-style: none;
  border-width: 1px;
  border-radius: 5px;
  color: #eeebe7;
  font-size: 20px;
  box-shadow: 2px 2px 1px black;
}

#login-display {
  color: black;
}
