.tweet {
  margin: 1em 0;
  height: 200px;
  background-color: #f6f4ee;
  border-style: none;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
}

.tweet header {
  background-color: #967c61;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  height: 60px;
}

.tweet img {
  float: left;
  border-radius: 5px;
  width:40px;
  height:40px;
}

.tweet h2 {
  margin: 0;
  padding: 0 0 0 10px;
  float: left;
  line-height: 40px;
}

.tweet header p {
  float: right;
  line-height: 40px;
}

.tweet section {
  height: 110px;
  border: solid;
  border-color: grey;
  border-width: 0 0 1px 0;
}

.tweet section p {
  height: 60px;
  margin: 0;
  padding: 0 25px;
  line-height: 20px;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
}

.tweet section div {
  display: flex;
}

.fa-quote-left {
  padding: 10px 0 0 10px;
}

.fa-quote-right {
  margin-left: auto;
  padding: 0 10px 10px 0;
}

.tweet footer {
  height: 28px;
  margin: 0;
}

.timestamp {
  float: left;
  line-height: 27px;
  padding: 0 0 0 10px;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}

.social-buttons {
  margin: 0;
  float: right;
  padding: 0 10px 0 0;
  line-height: 27px;h
}

.social-buttons:hover {
  color: red;
}
