#new-tweet div {
  height: 170px;
  background-color: #eee;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

#new-tweet h2 {
  text-align: left;
  margin: 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: black;
}

#new-tweet form {
  padding-top: 10px;
}

#new-tweet textarea {
  padding: 4px;
  margin-bottom: 10px;
  height: 4.5em;
  width: 100%;
  display: block;
}

#new-tweet input {
}

#new-tweet .counter {
  float: right;
  font-style: italic;
  font-size: 14px;
}

.over-limit {
  color: red;
}
